ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

img {
    width: 360px;
    height: 200px;
}

img:hover {
    width: 376px;
    height: 208px;
}

.gallery {
    display: flex;
    width: 1280px;
    flex-flow: flex-wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-basis: ((100% - 48px)/2);
}